# Use default npmjs registry for the SDKs
registry = https://registry.npmjs.org/
# For now, turn off npm auto-install of peer dependencies to get rid of warnings
legacy-peer-deps=true
# Turn off messages such as > react-sdk@0.1.0 list and > dx-component-builder-sdk list
loglevel=silent
#
#
